.table1,td{
   
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  .col-md-4{
      text-align: center;
  }
  .col-md-2{
      text-align: left;
  }
  .right{
      text-align: right;
  }
  
  ul {
      padding: 0;
      margin: 0;
      clear: both;
    }
    
    li{
      list-style-type: none;
      list-style-position: outside;
      padding: 5px;
      float: left;
    }
    
    input[type="checkbox"]:not(:checked), 
    input[type="checkbox"]:checked {
      position: absolute;
      left: -9999%;
    }
    
    input[type="checkbox"] + label {
      display: inline-block;
      padding-left: 3px;
      padding-right: 3px;
      padding-top: 0;
      padding-bottom: 0;
      cursor: pointer;
      border: 1px solid black;
      color: black;
      background-color: white;
      margin-bottom: 2px;
      margin-top: 2px;
      margin-left: 17px;
    }
    
    input[type="checkbox"]:checked + label {
      border: 1px solid white;
      color: white;
      background-color: black;
    }
    
  .show{
    background-color: yellow!important;
    padding: 20px!important;
    display: none!important;
      }
      p.testguide{
          color:red;
      cursor: context-menu;
      padding: 2px 0px 2px;
      }
      p.testguide:hover + .show{
      display:block!important;
  }
  